.status-bar {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: var(--black);
  font-size: 17px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #cfcb90;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;

  align-items: center;
}

.status-bar__column i {
  margin-left: 3px;
}
.status-bar__column span {
  margin-left: 3px;
}

.fa-battery-full {
  margin-right: 3px;
  font-size: 27px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.fa-gear:hover {
  animation: spin 2s linear infinite;
}
